.forgetPass{
    text-decoration: underline;
    color:rgb(7, 75, 212);
    text-align: right;
    cursor: pointer;
}

.register{
    text-decoration: underline;
    color:rgb(7, 75, 212);
    text-align: left;
    cursor: pointer;
}